#schedules-payment {
    position: relative;
    &.keyboard-open {
        margin-bottom: 0;
        height: calc(100vh - 60px);
        > main {
            form {
                max-width: 100%;
            }
        }
        footer {
            position: static;
            width: 100vw;
            margin-left: -20px;
        }
    }
    .name {
        text-transform: uppercase;
        &tspan {
            text-transform: uppercase;
        }
    }
    > header {
        height: 260px;
        min-height: 260px;
        position: relative;
        h1 {
            display: none;
        }
    }
    > main {
        align-items: center;
        form {
            max-width: 100%;
            margin-bottom: 60px;
            .form-creditcard {
                margin-top: var(--space);
                .form-fields {
                    flex-direction: column;
                    width: 100%;
                    .fields {
                        flex-direction: row;
                        justify-content: space-between;
                        .field {
                            width: calc(50% - calc(var(--space) / 2));
                        }
                    }
                }
                .form-card {
                    position: absolute;
                    top: 10px;
                    width: 100%;
                    left: 0;
                    justify-content: center;
                    perspective: 1000px;
                    .faces {
                        transform-style: preserve-3d;
                        transition: transform 0.6s;
                        width: 300px;
                        &.flipped {
                            transform: rotateY(180deg);
                        }
                        svg {
                            width: 300px;
                            position: absolute;
                            backface-visibility: hidden;
                            &.back {
                                .name {
                                    text-transform: uppercase;
                                }
                            }
                        }
                        .back {
                            transform: rotateY(180deg);
                        }
                    }
                }
            }
        }
    }
    .lds-grid {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-grid div {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: rgb(85, 77, 35);
        animation: lds-grid 1.2s linear infinite;
    }
    .lds-grid div:nth-child(1) {
        top: 8px;
        left: 8px;
        animation-delay: 0s;
    }
    .lds-grid div:nth-child(2) {
        top: 8px;
        left: 32px;
        animation-delay: -0.4s;
    }
    .lds-grid div:nth-child(3) {
        top: 8px;
        left: 56px;
        animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(4) {
        top: 32px;
        left: 8px;
        animation-delay: -0.4s;
    }
    .lds-grid div:nth-child(5) {
        top: 32px;
        left: 32px;
        animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(6) {
        top: 32px;
        left: 56px;
        animation-delay: -1.2s;
    }
    .lds-grid div:nth-child(7) {
        top: 56px;
        left: 8px;
        animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(8) {
        top: 56px;
        left: 32px;
        animation-delay: -1.2s;
    }
    .lds-grid div:nth-child(9) {
        top: 56px;
        left: 56px;
        animation-delay: -1.6s;
    }
    @keyframes lds-grid {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }
}

@media (min-width: 1200px) {
    #schedules-payment {
        position: static;
        &.keyboard-open {
            margin-bottom: 0;
            height: calc(100vh - 60px);
            > main {
                form {
                    max-width: 1200px;
                }
            }
            footer {
                position: fixed;
                width: 100%;
                margin-left: initial;
            }
        }
        > header {
            height: 160px;
            min-height: 160px;
            h1 {
                display: block;
            }
        }
        > main {
            align-items: flex-start;
            form {
                max-width: 900px;
                justify-content: space-between;
                .form-creditcard {
                    .form-card {
                        position: static;
                        justify-content: center;
                        padding-left: var(--space);
                        .faces {
                            width: 100%;
                            margin-top: -17px;
                            &.flipped {
                                transform: translateX(-76px) rotateY(180deg);
                            }
                            svg {
                                width: 340px;
                            }
                        }
                    }
                }
            }
        }
    }
}
